.link {
    list-style-type: none;
    display: inline;
    padding: 5px;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 1%;
    background: linear-gradient(180deg, #fff 0%, #f5f7f9 100%);
}

.link-style {
    text-decoration: none;
    background: linear-gradient(180deg, #fff 0%, #f5f7f9 100%);
    color: black;
}