body {
  background-color: #eeeeee38;
  display: flex;
  justify-content: center;
}

.postWrapper {
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin: 0 5%;
}

.postContent {
  margin: 0 auto;
  padding: 20px 40px;
  width: 80%;
  text-align: center;
}

.articleContent{
    background-color: #eeeeee4d;
    border-left: 2px solid #323232;
    padding: .75em;
    margin-top: 20px;
    width: 100%;
}

.articleName {
  border: 1px solid rgb(202, 133, 3);
  border-radius: 10px;
  padding: 10px;
}

.articleImage {
  height: 40%;
  width: 60%;
  padding: 15px 0px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerColor {
  color: #0000007a;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnClass {
  height: 20px; 
}

.textareStyle {
  width: 70%;
  margin: 30px;
}

.btnBackToPosts {
  text-decoration: none;
  color: #323232;
  border: 2px solid orange;
  padding: 10px 15px;
  border-radius: 15px;
  align-self: flex-start;
}

.btnBackToPosts:active {
  border-color: skyblue;
  box-shadow: 0px 0px 5px skyblue;
}

.btnContainer {
  display: flex;
  justify-content: flex-start;
}